.weather-app-project {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
  border-color: rgb(128, 126, 126);
}

h1 {
  color: rgb(137, 149, 149);
}

a {
  text-decoration: none;
}
